html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.bg-image {
	background-image: url(https://picsum.photos/seed/picsum/1920/1080);
}

.glass {
	background-color: rgb(223, 211, 209, 0.15);
	backdrop-filter: blur(40px);
	-webkit-backdrop-filter: blur(40px);
}
